# Intakes Data

#### Imports

In [1]:
import pandas as pd
import janitor
import re

#### Read in data

In [2]:
intakes = pd.read_csv('../data/intakes.csv')

#### Standardize column names

In [3]:
intakes = intakes.clean_names() #from janitor package

#### Clean columns

In [4]:
#figure out * in names

intakes['name'].str.startswith("*").value_counts(normalize=True)

False    0.669175
True     0.330825
Name: name, dtype: float64

In [14]:
intakes['name'] = intakes['name'].str.replace('*', '') #after doing some research, I couldn't find info on the *

In [6]:
intakes['datetime'] = pd.to_datetime(intakes['datetime'])

In [7]:
intakes = intakes.drop(columns='monthyear') # we'll add this as a feature later if needed

In [8]:
intakes['found_location'].value_counts().head(25)

Austin (TX)                              23252
Travis (TX)                               2073
Outside Jurisdiction                      1558
7201 Levander Loop in Austin (TX)          846
Manor (TX)                                 633
Pflugerville (TX)                          612
Del Valle (TX)                             527
4434 Frontier Trl in Austin (TX)           208
124 W Anderson Ln in Austin (TX)           193
4434 Frontier Trail in Austin (TX)         178
124 West Anderson Lane in Austin (TX)      163
Leander (TX)                               159
1156 W Cesar Chavez in Austin (TX)         147
12034 Research Blvd in Austin (TX)         136
12034 Research in Austin (TX)              113
1834 Ferguson in Austin (TX)                90
Cedar Park (TX)                             87
Lago Vista (TX)                             86
1156 W Cesar Chavez St in Austin (TX)       82
Round Rock (TX)                             79
4106 N Lamar in Austin (TX)                 74
4106 N Lamar Blvd in Austin (TX)            70
14811 Chicadee in Pflugerville (TX)         67
4434 Frontier in Austin (TX)                64
1156 West Cesar Chavez in Austin (TX)       62
Name: found_location, dtype: int64

In [9]:
intakes['found_location'].str.endswith('in Austin (TX)').value_counts()

True     81377
False    44766
Name: found_location, dtype: int64

In [10]:
intakes['found_location'].str.endswith(')').value_counts() #the 1558 are 'Outside Jurisdiction'

True     124585
False      1558
Name: found_location, dtype: int64

In [20]:
[x.str.split(' in ') if x.str.contains(' in ') else x for x in intakes['found_location']]

AttributeError: 'str' object has no attribute 'str'

In [11]:
test_strings = ['1156 West Cesar Chavez in Austin (TX)', 'Round Rock (TX)']

for string in text_strings:
    if string == re.match(r'^\d', string).string:
        str.split(string, ' in ')
    else:
        return string

SyntaxError: 'return' outside function (<ipython-input-11-5f2d10669262>, line 7)

In [ ]:
intakes['intake_type'].value_counts(normalize=True).plot(kind='barh');

In [ ]:
intakes['intake_condition'].value_counts(normalize=True).plot(kind='barh');

In [ ]:
intakes['animal_type'].value_counts(normalize=True).plot(kind='barh');

In [ ]:
intakes['sex_upon_intake'].value_counts(normalize=True).plot(kind='barh');

In [ ]:
intakes['color'].value_counts()

In [ ]:
intakes[intakes['color'].str.contains('/')]

In [ ]:
intakes.info()

# To Do

#### 1) Figure out if * means anything in names
 done
#### 2) Deal with 'in ____ (TX)' from found locations
#### 3) Standardize age to years