# Intakes and Outcomes Merge

#### Imports

In [46]:
import pandas as pd

#### Read in Data

In [47]:
intakes = pd.read_csv('../data/intakes_clean.csv', parse_dates=['datetime'])

In [48]:
outcomes = pd.read_csv('../data/outcomes_cleaned.csv', parse_dates=['datetime'])

#### Merge Datasets

In [49]:
outcomes_intakes = outcomes.merge(intakes, 
                                  left_on=['animal_id', 'outcome_count'],
                                  right_on=['animal_id', 'intake_count'],
                                  suffixes=('_outcome', '_intake'))

In [52]:
outcomes_intakes[outcomes_intakes['animal_id'] == 'A721033'][['outcome_count', 'intake_count']]

        outcome_count  intake_count
4175             31.0          31.0
9256              6.0           6.0
11703             4.0           4.0
14111            28.0          28.0
16618            30.0          30.0
20574            23.0          23.0
23103            13.0          13.0
26341            29.0          29.0
31275            26.0          26.0
35464             7.0           7.0
36178            19.0          19.0
43349            16.0          16.0
43576            27.0          27.0
46336            22.0          22.0
50073            14.0          14.0
57276             9.0           9.0
57514            32.0          32.0
58581            18.0          18.0
58637             2.0           2.0
61911            33.0          33.0
62889             1.0           1.0
70340             8.0           8.0
70576            21.0          21.0
74886            20.0          20.0
76665            11.0          11.0
79947            24.0          24.0
80701            10.0          10.0
83137             5.0           5.0
84285             3.0           3.0
92116            12.0          12.0
110160           15.0          15.0
115165           25.0          25.0
118348           17.0          17.0

#### Filter Dataset

In [23]:
dogs = outcomes_intakes[outcomes_intakes['animal_type_outcome'] == 'Dog']

#### Save csv

In [25]:
dogs.to_csv('../data/dogs.csv', index=False)